.vscode
.cache
__pycache__
/windows/textparser-*.zip
/windows/textparser_*.exe
/include/json-c/
/include/pcre2/
/build_release/
/build_asan/
/build/
/bin/
*.json.h
CMakeLists.txt.user
compile_commands.json
tmp/
